.hole {
    background-color:darkslateblue;
    color: black !important;
    width: 5vw;
    height: 5vh;
    font-size: calc(10px + 2vh);
}

.shot-miss {
    color: antiquewhite !important;
}

.shot-hit {
    color: red !important;
}