.hole {
    background-color:darkslateblue;
    color: black !important;
    font-size: calc(10px + 2vmin);
    width: 5vw;
}

.shot-miss {
    color: antiquewhite !important;
}

.shot-hit {
    color: red !important;
}